.login-cotainer{
    margin: 1% auto;
    padding: 1% 5%;
    width: 50%;
    background-color: white;
    box-shadow: 2px 15px 25px #98cdfca8;
}

/* tablet and mobile responsive */
@media screen and (max-width:700px) {
    .login-cotainer{
        width: 70%;
    }
}