.terms-page{
    background-image: radial-gradient(#27aefdc4, #bce5f9);
    margin: 0;
    padding: 5%;
    height: 600px;
}
.terms-container{
    background-color: white;
    margin: 5% 5%;
    padding: 5%;
    height: 80%;
}

/* tablet and mobile responsive */
@media screen and (max-width:900px) {
    .blogs-container{
        margin: 3% 10%;
    }
}
