.left-side-container{
    background-color: #61ACEF;
}

.category-button{
    margin: 2% auto;
    padding: 15px 0px;
    width: 75%;
    background-color: white;
    border-radius: 10px;
}

.category-button:hover{
    background-color: tomato;
}